*
!.gitignore
!bigobj_h.f90
!bigobj_m.f90
!clock_m.f90
!const_kind_m.f90
!const_numphys_h.f90
!date_time_m.f90
!gfile_m.f90
!isnumb.f
!log_m.f90
!lowor.f
!Makefile.qprog
!qcontrol_h.f90
!qcontrol_m.f90
!qprog.f90
!README
!TEST
!rubric.txt
!rubric_hash.txt
!vfile_m.f90
!bigobj_h.doc
!bigobj_m.doc
!clock_m.doc
!const_kind_m.doc
!const_numphys_h.doc
!date_time_m.doc
!gfile_m.doc
!log_m.doc
!qcontrol_h.doc
!qcontrol_m.doc
!qprog.doc
!vfile_m.doc
