*
!.gitignore
!ackn15+sc.tex
!bigobj_h.f90.tex
!bigobj_m.f90.tex
!oo_m.f90.tex
!qcontrol_h.f90.tex
!qcontrol_m.f90.tex
!qprog.f90.tex
!rubric.f90.tex
!template_m.f90.tex
!wi1.tex
!guide_draft.pdf
!wi1.pdf
!wi1.bbl
!f90totex.bash
!README
